@media (max-width:1300px){
    h1, h2, h3{
        word-wrap: break-word;
    }

    h1{
        font-size: 10vw;
    }
    
    h2{
        font-size: 8vw;
    }
    
    h3{
        font-size: 6vw;
    }

    .stack h3, .contacts h3{
        font-size: 5.3vw;
    }

    p{
        font-size: 5vw;
    }

    #hero{
        padding: 3rem;
        height: 100%;
    }

    body{
        overflow-x: hidden;
    }

    #menu{
        margin: -3rem;
        margin-bottom: 2rem;
        padding: 1rem 3rem;
    }

    #menu_list{
        position: absolute;
        display: none;
        width: calc(100% - 4rem);
        background: rgba(0, 0, 0, 0.767);
        left: 0px;
        top: calc(16px + 2rem);
        padding: 1rem 2rem 1.5rem 2rem;
    }


    #menu_list li{
        margin-left: 0px;
        margin-top: 10px;
    }

    #menu_content{
        width: 100%;
    }

    #menu_content img{
        width: 36px;
    }    

    #menu_selector{
        display: block;
        margin-left: auto;
    }

    #selector_1, #selector_3{
        transform-origin: 3% 50% 
    }

    #intro{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        width: 100%;
        align-items: center;
    }

    #intro lottie-player{
        width:calc(100vw - 4rem);
        height:calc(100vw - 4rem); 
        margin-bottom: 3rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    #left_intro{
        margin-right: auto;
    }

    .mouse lottie-player{
        display: none;
    }

    .sect{
        width:calc(100vw - 4rem);
        padding: 0rem 2rem;
        padding-top: 2rem; 
    }

    .block{
        width:100%;
        flex-direction: column;
    }

    .block div{
        margin-right: 0px;
    }

    .block img{
        margin-top: 2rem;
        width:calc(100vw - 4rem);
        height:calc(100vw - 4rem);
        border-radius: 50% 25%;
    }

    .projects{
        margin-top: 2rem;
        width:100%;
    }

    .project_cell{
        padding: 40px 40px 20px 40px;
    }

    .project_cell iframe, .project_cell img{
        border-top-left-radius: 25px !important;
        border-top-right-radius: 25px !important;
        border: none !important;
        width: calc(100% + 80px);
        margin: -40px;
        margin-bottom: 0px;
    }
    
    .project_cell iframe{
        height: 25vh;
    }

    .stack, .contacts{
        width:100%;
        grid-template-columns:calc(100%);
    }

    .stack, .contacts, .projects{
        row-gap:2rem;
    }

    .stack, .contacts{
        margin: 2rem 0px 3rem 0px;
    }

    #to_top{
        width: 30px;
        height: 30px;
    }
    
}

@keyframes selector_1_open{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes selector_1_close{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes selector_3_open{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@keyframes selector_3_close{
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes open_list{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes close_list{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}