:root {
    --mobile-width: calc(100% - 4rem);
}

@media (max-width:1300px){
    /*Base*/
    h1, h2, h3{
        word-wrap: break-word;
    }

    body{
        overflow-x: hidden;
    }

    .contacts h3, #project_list h3{
        text-decoration: underline;
    }

    /*Menu*/
    #menu{
        margin: -3rem;
        margin-bottom: 2rem;
        padding: 1rem 3rem;
    }

    #menu_list{
        position: absolute;
        display: none;
        width: var(--mobile-width);
        background: rgba(255, 255, 255, 0.91);
        left: 0px;
        top: calc(16px + 2rem);
        padding: 1rem 2rem 1.5rem 2rem;
    }

    #menu_list li{
        margin-left: 0px;
        margin-top: 10px;
    }

    #menu_list a{
        color: var(--main-color);
        font-weight: 600;
    }

    #menu_content{
        width: 100%;
    }

    #menu_content img{
        width: 36px;
    }    

    #menu_selector{
        display: block;
        margin-left: auto;
    }

    #selector_1, #selector_3{
        transform-origin: 3% 50% 
    }

    /*First section*/
    #hero{
        padding: 3rem;
        height: 100%;
    }

    #intro{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        width: 100%;
        align-items: center;
    }

    #intro lottie-player{
        margin-bottom: 3rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    #left_intro{
        margin-right: auto;
    }

    .mouse lottie-player{
        display: none;
    }

    /*About*/
    .sect{
        width: var(--mobile-width);
        padding: 1rem 2rem 0rem 2rem;
    }

    #about h2{
        margin-bottom: 0px;
    }

    .block{
        width:100%;
        flex-direction: column;
    }

    .block div{
        margin-right: 0px;
    }

    .block img{
        margin-top: 2rem;
    }

    .big_button{
        margin-top: 3rem;
        width: 100%;
    }

    /*Awards*/
    .aw_block{
        width:100%;
        grid-template-columns: 100%;
    }

    .aw_block.first{
        margin-top: 40px ;
    }

    .aw_block:last-child{
        margin-bottom: -1rem ;
    }

    /*Experience*/
    #experience_list{
        grid-template-columns: auto;
        row-gap: 2rem;
    }

    .experience_cell > time{
       margin: 0px auto 2rem auto;
    }

    /*Projects*/
    #project_list{
        margin-top: 2rem;
        width:100%;
    }

    .project_cell{
        padding: 40px 40px 20px 40px;
    }

    .project_cell iframe, .project_cell img{
        border-top-left-radius: 25px !important;
        border-top-right-radius: 25px !important;
        border: none !important;
        width: calc(100% + 78px);
        margin: -39px;
        margin-bottom: 0px;
    }
    
    .project_cell iframe{
        height: 25vh;
    }

    /*Stack and contacts cards*/
    .stack, .contacts{
        grid-template-columns: 87% 100% 100%;
        width: calc(100% + 2rem);
        overflow-x: auto;
        padding-bottom: 5px;
        scroll-snap-type: x mandatory;
        margin: 2rem -2rem 0rem 0px;
        column-gap: 2rem;
    }

    .stack > .cell:last-child, .contacts > .cell:last-child{
        margin-right: 2rem;
    }

    .stack, .contacts, #project_list{
        row-gap: 2rem;
    }

    /*Footer*/
    footer > section{
        width: var(--mobile-width);
        display: grid;
        row-gap: 20px;
    }

    
    /*Fixed objects*/
    #to_top{
        width: 30px;
        height: 30px;
        bottom: 25px;
        right: 25px;
        padding: 8px;
    }

    #to_top > svg{
        transform: translateY(-3px);
    }
    
}

/*Menu animations*/
@keyframes selector_1_open{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes selector_1_close{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes selector_3_open{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@keyframes selector_3_close{
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes open_list{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes close_list{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}